<template>
    <li
        class="todo-item"
        :class="{ completed: todo.completed }"
        @click="toggleTodo(todo)"
    >
        {{ todo.title }}
    </li>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { ITodoItem } from '@/types/Todo'
const TODOS = 'todo-list'

@Component
export default class TodoItem extends Vue {
    @Prop({ type: Object }) todo!: any

    toggleTodo(todo: ITodoItem) {
        this.$emit('toggle', todo)
    }
}
</script>

<style lang="scss" scoped>
@import './TodoItem.scss';
</style>
