.todo-item {
    color: hsl(150, 40%, 25%);
    cursor: pointer;
    font-weight: 700;
    padding: 2rem 3rem;
    position: relative;
    width: 100%;
    transition: color 0.4s, background-position 0.6s;
    background-size: 200% 100%;
    background-image: linear-gradient(
        to right,
        white 50%,
        hsl(150, 30%, 50%) 50%
    );
    &:hover {
        background-position: -100% 0;
        color: white;
    }
    &:not(:last-child) {
        border-bottom: 1px solid hsla(150, 30%, 60%, 0.5);
    }
}

.todo-item.completed {
    background-color: hsla(150, 20%, 50%, 0.4);
    background-image: none;
    color: hsla(150, 20%, 20%, 0.4);
    text-decoration: line-through;
    font-style: italic;
    display: flex;
    align-items: center;
    transition: background-position 0s;
    &:after {
        content: '';
        position: absolute;
        right: 3rem;
        height: 1rem;
        width: 2rem;
        border-left: 2px solid hsla(150, 40%, 25%, 0.4);
        border-bottom: 2px solid hsla(150, 40%, 25%, 0.4);
        transform: rotate(-45deg);
    }
}
