<template>
    <main>
        <add-todo v-on:add="addTodo" />
        <todo-list :todos="todos" v-on:toggle="toggleTodo" />
    </main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { ITodoItem } from '@/types/Todo'
import AddTodo from '@/components/add-todo/AddTodo.vue'
import TodoList from '@/components/todo-list/TodoList.vue'
import LocalStorage from '@/services/LocalStorage'
import { getMaxId } from '@/services/Collection'

export const TODO_LIST_KEY = 'todo-list'

@Component({
    components: {
        AddTodo,
        TodoList,
    },
})
export default class Main extends Vue {
    todos: ITodoItem[] = []
    nextId = 0

    beforeMount() {
        this.todos = LocalStorage.getItem(TODO_LIST_KEY) || this.todos
        this.nextId = getMaxId(this.todos) + 1
    }

    toggleTodo({ id }: { id: number }) {
        const toggledTodo = this.todos.find(todo => todo.id === id)

        if (toggledTodo) {
            toggledTodo.completed = !toggledTodo.completed
        }

        LocalStorage.setItem(TODO_LIST_KEY, this.todos)
    }

    addTodo({ title }: { title: string }) {
        this.todos = LocalStorage.getItem(TODO_LIST_KEY) || this.todos

        this.todos.push({
            id: this.nextId,
            title,
            completed: false,
        })

        LocalStorage.setItem(TODO_LIST_KEY, this.todos)

        this.nextId++
    }
}
</script>

<style lang="scss" scoped>
@import './Main.scss';
</style>
