<template>
    <div class="todo-list">
        <ul v-if="todos.length > 0">
            <todo-item
                v-for="todo in todos"
                :key="todo.id"
                :todo="todo"
                v-on:toggle="toggleTodo"
            />
        </ul>
        <empty-block-wrapper v-if="todos.length === 0">
            <empty-block-message message="No task left :)" />
        </empty-block-wrapper>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { TODO_LIST_KEY } from '@/components/main/Main.vue'
import TodoItem from '@/components/todo-item/TodoItem.vue'
import EmptyBlockWrapper from '@/components/empty-block/EmptyBlockWrapper.vue'
import EmptyBlockMessage from '@/components/empty-block/EmptyBlockMessage.vue'
import LocalStorage from '@/services/LocalStorage'
import { ITodoItem } from '@/types/Todo'

@Component({
    components: {
        TodoItem,
        EmptyBlockWrapper,
        EmptyBlockMessage,
    },
})
export default class TodoList extends Vue {
    @Prop({ default: () => [] }) readonly todos!: any[]

    toggleTodo(todo: ITodoItem) {
        this.$emit('toggle', todo)
    }
}
</script>

<style lang="scss" scoped>
@import './TodoList.scss';
</style>
