.todo-list {
    // Positionning
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0;
    ul {
        // Misc
        border: 2px solid hsl(150, 30%, 60%);
        border-radius: 0.2rem;
        box-shadow: 0rem 0.2rem 0.8rem 0.2rem hsl(150, 20%, 70%);
        position: relative;
        transition: width 0.2s;
        animation: showTodoList 1.8s;
        width: 30rem;
        @media (min-width: 48rem) {
            width: 40rem;
        }
    }
}

@keyframes showTodoList {
    0% {
        top: -10rem;
        transform: scale(0);
    }
    25% {
        top: -10rem;
        transform: scale(100%);
    }
    50% {
        top: -10rem;
    }
    100% {
        top: 0rem;
    }
}
