<template>
    <header>
        <h1>TODO LIST</h1>
    </header>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({})
export default class Header extends Vue {}
</script>

<style lang="scss" scoped>
@import './Header.scss';
</style>
