@import '@/variables.scss';

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    width: 100%;
    margin-bottom: 4rem;
    background: linear-gradient(to right, $green, $blue);
    box-shadow: 0 0 1.6rem 0 hsla(200, 0%, 15%, 0.7);
    color: white;

    h1 {
        font-size: 5rem;
        font-weight: 700;
    }
}
