@import '@/variables.scss';

.container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 400px;

    .todo-input {
        border: none;
        border-bottom: 1px solid #ddd;
        border-radius: 2px 0px 0px 2px;
        font-size: 1.8rem;
        padding: 1rem 2rem;
        width: 60%;
    }
}
