@import '@/variables.scss';

button {
    background-color: darken($green, 10%);
    border-radius: 0px 2px 2px 0px;
    border-width: 1px;
    box-shadow: -1px 0px 4px 0px hsla(120, 60%, 25%, 0.5);
    color: white;
    cursor: pointer;
    font-size: 2.4rem;
    padding: 1.2rem 2.4rem;
    min-width: 120px;
    right: 0px;
    transition: box-shadow .2s, background-color .2s;

    &.highlighted {
        background-color: darken($green, 14%);
        box-shadow: -1px 0px 5px 1px hsla(120, 60%, 25%, 0.5);
        opacity: 1;
    }

    &.disabled {
        opacity: 0.6 !important;
    }
}
