<template>
    <div class="container">
        <input
            type="text"
            id="todo-title-input"
            class="todo-input"
            name="todo-title"
            :value="title"
            @input="title = $event.target.value"
        />
        <add-todo-button
            :isDisabled="!isTitleValid"
            v-on:click="isTitleValid && addTodo()"
        />
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import AddTodoButton from '@/components/add-todo/AddTodoButton.vue'

@Component({
    components: { AddTodoButton },
})
export default class AddTodo extends Vue {
    title: string = ''

    get isTitleValid() {
        return this.title.length > 0
    }

    addTodo() {
        this.$emit('add', { title: this.title })
        this.title = ''
    }
}
</script>

<style lang="sass" scoped>
@import './AddTodo.scss'
</style>
