<template>
    <button
        v-bind:class="{
            highlighted: isHighlighted,
            disabled: isDisabled,
        }"
        @mouseenter="!isDisabled && highlight()"
        @mouseleave="!isDisabled && unhighlight()"
        @click="!isDisabled && click()"
    >
        Add
    </button>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component
export default class AddTodoButton extends Vue {
    @Prop({ default: false }) isDisabled?: boolean

    isHighlighted = false

    highlight() {
        this.isHighlighted = true
    }

    unhighlight() {
        this.isHighlighted = false
    }

    click() {
        this.$emit('click')
    }
}
</script>

<style lang="scss" scoped>
@import './AddTodoButton.scss';
</style>
