html {
    font-size: 10px;
    height: 100%;
}

body {
    font-family: 'Open Sans', 'Roboto', 'Fira Code Retina', 'sans-serif';
    height: 100%;
    padding: 0;
    margin: 0;

    * {
        box-sizing: border-box;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    padding: 1rem 2rem;
}

#app {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    min-width: 32rem;
    overflow-y: hidden;
}
