<template>
    <div id="app">
        <app-background />
        <app-header />
        <app-main />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import AppBackground from '@/components/background/Background.vue'
import AppHeader from '@/components/header/Header.vue'
import AppMain from '@/components/main/Main.vue'

@Component({
    components: {
        AppBackground,
        AppHeader,
        AppMain,
    },
})
export default class App extends Vue {}
</script>

<style lang="scss">
@import './variables.scss';
@import './App.scss';
</style>
