<template>
    <div class="empty-block">
        <slot></slot>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component
export default class EmptyBlockWrapper extends Vue {}
</script>

<style lang="scss">
@import '@/variables.scss';

.empty-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: darken($grey, 10%);
    border-radius: 2px;
    font-style: italic;
    padding: 2rem 3rem;
    width: 100%;
}
</style>
