<template>
    <div class="empty-block-message">{{ message }}</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component
export default class EmptyBlockMessage extends Vue {
    @Prop() message?: string
}
</script>

<style lang="scss">
@import '@/variables.scss';

.message {
    color: $grey;
    font-size: 1.6rem;
    font-style: italic;
}
</style>
