*** Template ***
<template>
    <div class="background"></div>
</template>

*** Vue ***
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component
export default class Background extends Vue {}
</script>

*** Style ***
<style lang="scss" scoped>
@import './Background.scss';
</style>
