.background {
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, black 100%);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    &:after {
        content: '';
        background-color: hsla(200, 0%, 97%, 0.97);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
